// hoja de estilos



body {
    background-image: url(../img/mosaicoBody.png);
}

div {
    .titulo-contenido {
        background-color: beige;
        text-align: center;
        padding: 5px;
    }
}